.cv-personalDatas{
    background-color: #082f49;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.cv-name{
    text-align: center;
    margin-bottom: 0.5rem;
    
}


.cv-education-head, .cv-professional-ex-head{
    text-align: center;
    background-color: #e2e8f0;
    color: #082f49;
    height: 2rem;
    padding-left: 0.5rem;
}

.cv-education-body{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 1rem 0;
}

.cv-professional-ex-head{
    margin-top: 1rem;
}

.cv-professional-ex-body{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cv-professional-ex-body  div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}